/*--------NAV---------------------------------------------------------------------------------------------*/
/*--------INDEX-------------------------------------------------------------------------------------------*/
/*--------BUTTONS-----------------------------------------------------------------------------------------*/
/*--------LINKS-------------------------------------------------------------------------------------------*/
/*--------CONTEINERS--------------------------------------------------------------------------------------*/
/*----------     REGISTRATION ENTER      -------------------------------------------------------------------------------*/
/*----------   FORMS   -------------------------------------------------------------------------------*/




body, html {margin: 0; padding: 0; background-color: #fff; font-family: 'Roboto', sans-serif; color: #333; height: 100%; width: 100%;}
a{text-decoration: none;}
h1, h2, h3, h4, p{margin: 0; padding: 0;}
.clear{clear: both;}
.content{width: 100%; text-align: center;}





/*--------NAV---------------------------------------------------------------------------------------------*/

.nav_conteiner{
    height: 80px;
    background-color: rgb(242, 242, 242);
    display: block;
    padding: 10px;
}

.nav-logo{
    float: left;
    margin: 5px 0 0 30px;
}

/*--------/NAV--------------------------------------------------------------------------------------------*/






/*--------INDEX-------------------------------------------------------------------------------------------*/

.top-main{
   height: 350px;
    width: 100%;
    display: inline-block;
    background-image: url("../img/bg_main.jpg");
    background-position: center;
    background-size: auto 100%;
    text-align: center;
}
    .top-main p{
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #fff;
        display: inline-block;
        margin: 90px 0 50px 0;
    }

.left_column{
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 15px 15px 0;
    /*background-color: blue;*/
}
.right_column{
    float: left;
    width: 785px;
    display: block;
    text-align: left;
    /*background-color: gray;*/
}



.advert-date, .advert-city, .advert-work-type{
    font-size: 12px;
    color: #8f8f8f;
    display: inline-block;
    margin:0 20px 0 0;
}

.advert-short-deskription{
    text-indent: 15px;
}

.advert-city{}

.tool_bar{width: 1000px;}
    .tool_bar-city, .tool_bar-work_type, .tool_bar-search{
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
    }
    .tool_bar-city{    }
    .tool_bar-work_type{    }
    .tool_bar-search{    }


/*--------/INDEX-----------------------------------------------------------------------------------------*/







/*--------BUTTONS----------------------------------------------------------------------------------------*/
.button{
    color: #333;

    padding: 9px 18px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}

.enter-button, .registration-button{
    background: #076899;
    color: #fff;
    height: 46px;
    width: 321px;
    padding: 0;
    text-align: center;
    line-height: 46px;
    margin: 20px 0 0 0;

}

.enter-button:hover, .registration-button:hover{
    background-color: #0782b5;
}
.nav-button{
    float: right;
    margin: 20px 0 0 0;
    border: 2px solid #076899;
}

.nav-button:hover{
    background-color: #07527e;
    color: #fff;
    -webkit-transition:all 0.5s ease;
    -o-transition:     all 0.5s ease;
    -moz-transition:   all 0.5s ease;
}

.button-top-main{
    background: none;
    border: 2px solid #fff;
    font-size: 18px;
    margin: 0 10px;
    color: #fff;

}

.button-top-main:hover{
    background-image: url("../img/bg_button_main.png");
    /*-webkit-transition:all 3s ease;*/
    /*-o-transition:all      3s ease;*/
    /*-moz-transition:all    3s ease;*/
}

.button_close-m{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    /*background: red;*/
    text-align: right;

}
.button_close-m:hover{font-weight: 700;}

/*--------/BUTTONS-------------------------------------------------------------------------------------*/






/*--------LINKS----------------------------------------------------------------------------------------*/

.link{
    font-weight: 700;
    color: #07527e;
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
    -webkit-transition:all 0.5s ease;
    -o-transition:     all 0.5s ease;
    -moz-transition:   all 0.5s ease;
}
.nav-link{
    float: right;
    margin: 20px 30px 0 0;
    color: #333;
    padding: 9px 18px;
}

.enter-link, .registration-link{
    font-size: 12px;
}

/*--------/LINKS--------------------------------------------------------------------------------------*/






/*----------CONTEINERS--------------------------------------------------------------------------------*/

.conteiner{
    box-shadow: 2px 2px 4px 0 rgba(0,0,0, 0.1);
    padding: 15px;
    margin: 10px;
    max-width: 1000px;
    display: inline-block;
    border: 1px solid #dedede;
    border-radius: 2px;
    clear: both;
    background: #fff;
    position: relative;
}

.advert-conteiner{
    width: 1000px;
}

.popup_container{
    padding: 50px;
}
    .popup_container span{font-size: 12px;}
    .popup_container p{font-size: 14px; color: red; margin: 10px 0;}

.reg-conteiner{
    background-image: url("../img/fireworks.png");
    background-repeat: no-repeat;
    background-position: right;
}
/*----------/CONTEINERS-------------------------------------------------------------------------------*/







/*----------     REGISTRATION ENTER      -------------------------------------------------------------------------------*/

.enter-input, .registration-input{
    height: 30px;
    width: 305px;
    font-weight: 700;
    font-size: 15px;
    /*letter-spacing: 1px;*/
    /*margin: 15px 0 0 0;*/

}

.registration-checkbox-license{
    height: 14px;
    width: 14px;
    margin: 8px 0 0 0;
}
.registration-checkbox{
    height: 18px;
    width: 18px;
    margin: 18px 0 0 0;
}


.registration-radio{height: 18px; width: 18px; margin: 10px 0 0 0}





/*----------     /REGISTRATION ENTER      -------------------------------------------------------------------------------*/






/*----------   FORMS   -------------------------------------------------------------------------------*/

label {
    /*display: block;*/
    /*padding-left: 15px;*/
    /*text-indent: -15px;*/
    cursor: pointer;
}

input{
    background-color: #dedede;
    border: 0;
    padding:8px;


    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;

}

.radio{cursor: pointer;}
.checkbox{cursor: pointer;}

.index_serch input{
    height: 40px;
    width: 970px;
    padding: 0 15px;
}




.jq-selectbox__select {
    height: 30px;
    padding: 0 45px 0 10px;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    /*background: #F5F5F5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;*/
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
    color: #333;
    text-shadow: 1px 1px #FFF;
    font: 14px/30px Arial, sans-serif;
}

/*----------  / FORMS   -------------------------------------------------------------------------------*/






/*----------   SPRITE   -------------------------------------------------------------------------------*/

.serch_icon_l{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.serch_icon_l{background-position: 0 0; width: 80px; background-color: #fff; }


/*----------   /SPRITE   -------------------------------------------------------------------------------*/
